<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%- class_name %>講義一覧</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!-- Bootstrap javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<style>
    #search_box{
        text-align: center;
    }

    input {
        width: 50%;
        padding: 10px 20px;
        margin: 10px 0;
        box-sizing: border-box;
        font-size: 15px;
    }
    button {
        font-size: 30px;
    }
  .class-list{
    border-style: dashed;
    border-color: black;
}

.class-video{
    margin: 10px;
    height: 20%;
    border-style: dashed;
    border-color: green;
    background-color: #E6F2FF;
}
</style>
<body>
    <!-- navigation bar -->
    <%- include('./header', {role:role}) %>
    <!-- input for serching -->
    <div id="search_box">
        <h1><%- class_name %></h1>
        <form >
            <input type="text" id="video_search" name="video_search" >
            <button type="button" id="button"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <form action="/search/class/add_schedule/<%- class_name %>" method="post">
        <button type="submit">時間割に追加</button>
    </form>
    <!-- class list-->
    <div class="class-list">

        <style>
        .class-list{
            border-style: dashed;
            border-color: black;
        }

        .class-video{
            padding: 8px 19px;
            margin: 2em 0;
            color: #2c2c2f;
            background: #cde4ff;
            border-top: solid 5px #5989cf;
            border-bottom: solid 5px #5989cf;
        }
        .class-video p {
            margin: 0;
            padding: 0;
        }

        /*.class-video{*/
        /*    margin: 10px;*/
        /*    height: 20%;*/
        /*    border-style: dashed;*/
        /*    border-color: green;*/
        /*    background-color: #E6F2FF;*/
        /*}*/
        </style>
    </div>

    <script>
        var classes = [];
        classes.push("<%- class_name %>");
        var lectures = <%- JSON.stringify(jd) %>;
        console.log(classes);
        create_list(lectures);
        
        
        //検索ボタンがクリックされたら文字列を含む講義名のみ表示する．
        $('#button').on('click', function(){
            $('.class-list').empty();  
            str = document.getElementById("video_search").value;
            jobj = [];
            lectures.forEach(function(lec){
                console.log(lec);
                console.log(str);
                if ( lec.lecture_name.includes(str) || lec.lecture_time.toString().includes(str)) {
                    console.log(lec); 
                    jobj.push(lec);
                };
            });
            create_list(jobj);
        });
        
        function create_list(jobj){
            jobj.forEach(function(jd){
                let currentDiv=document.getElementsByClassName("class-list")[0];
                let newDiv=document.createElement('div');
                let newa=document.createElement('a');
                let newh2=document.createElement('h2');
                let newPara=document.createElement('p');
                newDiv.className ="class-video";
        
                currentDiv.appendChild(newDiv);
                newa.href="/user/video/"+jd.movie_id
                newDiv.appendChild(newa);
                newh2.textContent="第"+jd.lecture_time+"回目";
                newPara.textContent=jd.lecture_name;
                newa.appendChild(newh2);
                newa.appendChild(newPara);
            });
        }
    </script>
</body>
</html>

