<!doctype html>
<html lang="ja">
  <head>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script> 

    </script> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap javascript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- hls  -->
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="http://192.168.98.25:8080/static/js/modal.js"></script>
    <title>動画</title>
</head>
<body>
 <%- include('./header', {role:role}) %>
 <h3><%= className %></h3>
 <h4>　第<%= videoNumber %>回 <%= videoTitle %></h4>
 <div class="row">

  <div class="col-md-12">
  <!-- ビデオゾーン -->
  <div class="col-md-6 embed-responsive" style="height: 500px; border-style: dotted; ">
    <video class="col-md-12 embed-responsive-item" id="video_play" controls preload="none"></video>
  </div>
  <!--チャットゾーン -->
    <div id="chat_place" class="col-md-6 pre-scrollable" style="height: 500px; border-style: dotted; ">
      <%- include('./chat_body/main_thread', {jsonAry:jsonAry,video_id:movie_id}) %>
    </div>
    <div class="row" style=" border-style: dotted;"> 
      <div class="col-md-6" style="height:auto; border-style: dotted; ">
  <!-- チャット送信フォーム -->
        <form id="chatForm">
          <div class="form-group form-inline">
            <label for="authorName">名前</label>
            <input type="text" class="form-control" id="authorName" name="author_name" placeholder="匿名">
            <select class="form-control" name="msg_type">
              <option value="other" selected="selected">コメント</option>
              <option value="shiori">しおり</option>
            </select>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="msg" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-default">送信</button>
        </form>
        <script>
          var parent_id="<%= movie_id %>"
          $( "#chatForm" ).submit(function( event ) {
            $.post( "http://192.168.98.25:8080/api/add_chat/"+parent_id, 
            { 
              msg_type: $('[name=msg_type]').val(), 
              author: $('[name=author_name]').val(),
              msg : $('[name=msg]').val(),
              shiori_time:(video.currentTime / video.duration) * 100,
              video_time:video.currentTime
            })
              .done(function( data ) {
                if(parent_id == "<%= movie_id %>"){
                      backThread(parent_id);
                  }else{
                      goThread(parent_id);
                  };
                if($('[name=msg_type]').val()=="shiori"){
                    var video_time = video.currentTime;
                    var shiori = (video.currentTime / video.duration) * 100;
                    var shiori_form = document.getElementById("pointbox")
                    var new_shiori = document.createElement('img');
                    new_shiori.src = "../../static/aicon.png";
                    new_shiori.style = "left: "+ shiori +"%;"
                    new_shiori.alt = "point";
                    new_shiori.addEventListener("click", function () {
                        setTime(video_time)
                    });
                    new_shiori.addEventListener('mouseover', function () {
                        HoverAction(data.test)
                    }, false);
                    new_shiori.addEventListener('mouseleave', function () {
                        LeaveAction(data.test)
                    }, false);
                    new_shiori.id = data.test;
                    shiori_form.appendChild(new_shiori);
                }
              });
            event.preventDefault();
          });
        </script>
      </div>
    </div>
  
  </div>

  </div>

<script src="http://192.168.98.25:8080/static/js/video_page_api.js"></script>
<script>
  var video = document.getElementById('video_play');
    if (Hls.isSupported()) {
        var hls = new Hls();
        hls.loadSource(" <%= place %> ");
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED, function () {
            video.play();
        });
    }
</script>

<!-- 動画のプログレスバー -->
<div style="background-color: rgb(0, 0, 0, 0.3); height: 5%; position: fixed; bottom: 0; width: 100%;">
  <div id="progress" class="video-progress" style="background-color: black; width:0%; height: 100%; position:relative;"></div>
  <div id="pointbox" style="position:relative; display:flex;">
    <%- include('./progress_mark', {jsonAry:jsonAry}) %>
  </div>
</div>
<script>
  video.ontimeupdate = function () {
    var percentage = (video.currentTime / video.duration) * 100;
    $("#progress").css("width", percentage + "%");
  };
  $("#progress").on("click", function (e) {
    var offset = $(this).offset();
    var left = (e.pageX - offset.left);
    var totalWidth = $("#progress").width();
    var percentage = (left / totalWidth);
    var vidTime = video.duration * percentage;
    video.currentTime = vidTime;
  });
</script>

  <!-- Modal -->
  <div class="modal fade" id="switch_isWatch_modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">現在このチャットは教員から見えない設定になっています。</h4>
        </div>
        <div class="modal-body">
          <p>表示設定を変更できます。</p>
          <div >
            <p class="switch_botton btn btn-primary">切り替える</p>
            <p class="modal-response"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        </div>
      </div>
      
    </div>
  </div>
</body>
</html>