<div class="col-md-6 border" style="height: 80px; width: 100%; margin-top: 10px; border-style: dotted; ">
    <%= main.msg %>
    <div class="row" style="position:absolute; bottom:0">
        <div onclick="favo(this,'<%= main.its_id %>')" class="col-md-1"><span class="glyphicon glyphicon-thumbs-up"><%= main.rating %></span></div>
        <% if(json.isWatchByTeacher){ %>
          <div class="col-md-1"><p class="glyphicon glyphicon-eye-open" data-toggle="modal" data-target="#openEyes" data-whatever="<%= json.its_id %>"></p></div>
        <% } else {%>
          <div class="col-md-1"><p class="glyphicon glyphicon-eye-close" data-toggle="modal" data-target="#closeEyes" data-whatever="<%= json.its_id %>"></p></div>
        <% } %>
        <div class="col-md-8"><p  onclick="backThread('<%= main.parent_id %>')">←メインに戻る</p></div>
    </div>
</div>

<% jsonAry.forEach(function(json) { %>
<!--   チャット一つ作る -->
<div class="col-md-6 border" style="height: 80px; width: 100%; margin-top: 10px; border-style: dotted; ">
    <%= json.msg %>
    <div class="row" style="position:absolute; bottom:0">
    <div onclick="favo(this,'<%= json._id %>')" class="col-md-1"><span class="glyphicon glyphicon-thumbs-up"><%= json.rating %></span></div>
    </div>
</div>
<% }); %>  